[Desktop Entry]
Type=Application
Name=Satella Boot (Visible)
Exec=xfce4-terminal --hold -e "bash -c '$HOME/satellaos-installer/autostart/satella-autostart.sh'"
Terminal=false
X-GNOME-Autostart-enabled=true
